[alias]
  fix = commit --amend --no-edit
  ci = commit
  co = checkout
  go = checkout -b
  st = status
  s = status -s
  df = diff
  dfs = diff --ignore-all-space
  undo = !git clean -dff && (git rebase --abort || git reset --hard)
  trash = !git branch | grep -v "master" | grep -v "main" | grep -v "\\*" | xargs git branch -D
  please = push --force-with-lease

[apply]
  whitespace = fix

[core]
  excludesfile = ~/.gitignore
  whitespace = trailing-space,space-before-tab
  trustctime = false
  precomposeunicode = false
  untrackedCache = true

[color]
  ui = auto

[diff]
  colorMoved = default
  renames = copies

[fetch]
  prune = true

[init]
  defaultBranch = main

[merge]
  log = true

[pull]
  rebase = true

[push]
  default = current
  followTags = true

[rebase]
  autosquash = true

[user]
  name = Florent Cailhol
  email = florent.cailhol@gmail.com
